<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%#= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%#= render 'follow_form' if user_signed_in? %>
  </div>
</div>
<br /><br />
<h4><%= @user.email %></h4>
<h4>Gender: <%= @user.gender %></h4>



<hr>

<div class="friends-content"></div>

<% if @is_me %>

<%  if @user.friends.count > 0 %>
<h2><strong>友達のリスト・リクエスト</strong></h2>
<% end %>

<%     @user.friends.each_with_index do |friend, i| %>
<div class="friend-list-item">

<%       if friend.user_id == @user.id %> <%# requested %>
<h4><%= link_to " #{User.find(friend.friend_id).name} - #{@user.status_with(friend.friend_id).to_s}", User.find(friend.friend_id) %></h4>

  <%= form_tag "/friends/#{friend.id}", method: :delete do %>
      <%= hidden_field_tag :id, friend.id %>
      <%= hidden_field_tag :friend_id, @user.id %>
      <%= submit_tag "Remove request", class: "form_submit" %>    
  <% end %>

<%       else %><%# be_requested, accepted  %>
<h4><%= link_to " #{User.find(friend.user_id).name} - #{@user.status_with(friend.user_id).to_s}", User.find(friend.user_id) %></h4>
<%#= link_to User.find(friend.user_id).name}, friend  %>


<%       end %> <%# ket thuc if-else %>


  <%     case @user.status_with(friend.user_id) %>
  <%         when :be_requested %>
  <%= form_tag "/friends/#{friend.id}", method: :put do %>
      <%= hidden_field_tag :id, friend.id %>
      <%= hidden_field_tag :friend_id, @user.id %>
      <%= submit_tag "Accept", class: "form_submit" %>    
  <% end %>
  <%= form_tag "/friends/#{friend.id}", method: :delete do %>
      <%= hidden_field_tag :id, friend.id %>
      <%= hidden_field_tag :friend_id, @user.id %>
      <%= submit_tag "Reject", class: "form_submit" %>    
  <% end %>
  <%         when :be_accepted, :accepted %>
  <%= form_tag "/friends/#{friend.id}", method: :delete do %>
      <%= hidden_field_tag :id, friend.id %>
      <%= hidden_field_tag :friend_id, @user.id %>
      <%= submit_tag "Unfriend", class: "form_submit"%>    
  <% end %>
  <%     end %>

<br />
</div>  <%# end friend-list-item %>


<%     end %> <%# ket thuc vong lap do %>
<% else %>
<%     case @status %>
<%         when :nothing %>
<%= form_tag('/friends', method: :post) do %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :friend_id, @user.id %>
    <%= submit_tag "Request", class: "form_submit" %>    
<% end %>
<%         when :requested %>
<h4>Requested</h4>
<%= form_tag "/friends/#{@friend.id}", method: :delete do %>
    <%= hidden_field_tag :id, @friend.id %>
    <%= hidden_field_tag :friend_id, @user.id %>
    <%= submit_tag "Remove request", class: "form_submit" %>    
<% end %>
<%         when :be_requested %>
<h4>Be Requested</h4>
<%= form_tag "/friends/#{@friend.id}", method: :put do %>
    <%= hidden_field_tag :id, @friend.id %>
    <%= hidden_field_tag :friend_id, @user.id %>
    <%= submit_tag "Accept", class: "form_submit" %>    
<% end %>
<%= form_tag "/friends/#{@friend.id}", method: :delete do %>
    <%= hidden_field_tag :id, @friend.id %>
    <%= hidden_field_tag :friend_id, @user.id %>
    <%= submit_tag "Reject", class: "form_submit" %>    
<% end %>
<%         when :be_accepted, :accepted %>
<h4>FRIEND</h4>
<%= form_tag "/friends/#{@friend.id}", method: :delete do %>
    <%= hidden_field_tag :id, @friend.id %>
    <%= hidden_field_tag :friend_id, @user.id %>
    <%= submit_tag "Unfriend", class: "form_submit"%>    
<% end %>
<%     end %>
<% end %>

