<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @study_log.user_id %>
</p>

<p>
  <strong>Learned word:</strong>
  <%= @study_log.learned_word %>
</p>

<%= link_to 'Edit', edit_study_log_path(@study_log) %> |
<%= link_to 'Back', study_logs_path %>
