
<div class="col-md-2">
  <%= word.vn_word %>
</div>
<div class="col-md-2">
  <%= word.answers.correct.jp_word %>
</div>
<% if word.bookmark == true %>
  <div class="col-md-2">
    <%#= link_to image_tag("bookmark.png", id: "bookmark-img"), category_word_path(id: word.id, action: "set_no_bookmark") %>
    <input type="image" id= "word-<%= word.id %>", src="/assets/bookmark.png" style="height: 20px; width: 20px; border-style: none" onclick="editBookmark(<%= word.id %>, 1, <%= word.category_id %>)"/>
  </div>
<% else %>
  <div class="col-md-2">
    <%#= link_to image_tag("no-bookmark.png", id: "no-bookmark-img"), category_word_path(id: word.id, action: "set_bookmark") %>
    <input type="image" id= "word-<%= word.id %>" src="/assets/no-bookmark.png" style="height: 20px; width: 20px; border-style: none" onclick="editBookmark(<%= word.id %>, 2, <%= word.category_id %>)"/>
  </div>
<% end  %>

