<p id="notice"><%= notice %></p>

<style >
  th,td{
    padding: 20px;
    text-align: center;
  }
  table{
    margin-left: 400px;
  }
</style>
<h1>今の目標</h1>
<h2><%= link_to "新しい目標を作る", new_goal_path, id: "search-form" %>  </h2>
<% if @goal != nil  %>
<%#= render @tests %>
<%#= @tests.count  %>
  <%= render @goals %>
<% else  %>
<h2>実行中の目標はまだありません。</h2><br>
<h2><%= link_to "新しい目標を作る", new_goal_path, id: "search-form" %>  </h2>
<% end  %>

<br>
<hr>
<br>
<h1>目標リスト</h1>

<table>
  <thead>
    <tr>
      <th>目標名</th>
      <th>平均の点数</th>
      <th>状況</th>
      <th>開始</th>
      <th>締め切り</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @goals.count != 0 %>
      <% @goals.each do |goal| %>
        <tr>
          <td><%= goal.name %></td>
          <td><%= goal.average_score %></td>
          <% if goal.deadline > Time.now %>
            <td>実行中</td>
          <% else %>
            <td>終わった</td>
          <% end %>
          <td><%= goal.created_at.strftime('%x') %></td>
          <td><%= goal.deadline.strftime('%x') %></td>
          <td><%= link_to "見る", goal %></td>
          <td><%= link_to "削除", goal, method: :delete, data: { confirm: "本当にしたいですか?" } %></td>
        </tr>
      <% end %>
    <% else %>
      <p> 目標の数量は０です。 </p>
    <% end %>  
  </tbody>
</table>

<br>