<div class="row">
  <div class="col-md-4">
    <%= category.name %>
  </div>
  <div class="col-md-8">
    <%= category.description %>
    <blockquote>
      <% category.words.each do |word| %>
          <%= word.vn_word %>,
      <% end %>
    </blockquote>
    <%= form_for [category, category.tests.build] do |f| %>
      <%= f.submit t(".btn_take"), class: "btn btn-primary col-md-2" %>
    <% end %>
    <%= button_to t(".btn_gotoword"), category_words_path(category),
      method: :get, class: "btn btn-primary col-md-2" %>
  </div>
</div>
