<h3 class="row">
  <%= t ".all_test" %>
</h3>
<%= render @test %>
<% if @test.finished? %>
  <div class="row">
    <% @test.user_answers.each_with_index do |user_answer, index| %>
      <div class="col-md-4 question" >
        <%= index + 1 %>.&nbsp
        <%= user_answer.word.vn_word %> 
      </div>
      <div class= "col-md-8">
        <% if user_answer.correct? %>
          <div class="answer-true">
            <%= user_answer.answer.jp_word %>
          </div>
        <% else %>
          <div class="answer-fail">
            <% if user_answer.answer_id != nil %>
              <%= t ".false_user_answer" %>
              <%= user_answer.answer.jp_word %>
            <% else %>
              Not answer
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
